@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (UserManager.IsInRoleAsync(user, "admin").Result)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Role" asp-action="Index">Admin's privilege</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index" title="Manage">@user.UserName</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Home" asp-action="LogOut">
                <button type="submit">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-action="Register" asp-controller="Home">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="Login">Login</a>
        </li>
    }
