@model Product
@inject UserManager<User> UserManager
@{ 
    string userName = UserManager.GetUserAsync(User).Result.UserName;
}
<form>
    @Html.EditorFor(m => m.Name)
    @Html.EditorFor(m => m.Quantity)
    @Html.EditorFor(m => m.Price)
    <input asp-route-userName ="@userName" hidden/>
    <button asp-action="Add">Add</button>
</form>
